* {
  margin: 0;
  border: 0;
}

main {
  background-image: url(/asset/background.jpg);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form, .name {
  display: flex;
  justify-content: center;
}

input {
  height: 30px;
  border-radius: 10px;
  padding: 2px;
  margin-right: 2%;
}

button {
  border-radius: 10px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2% 0;
}

.score p {
  font-size: 6rem;
  font-weight: bold;
  color: yellow;
}

.scoreImg {
  width: 30%;
  margin-right: 2%;
}

.score img {
  width: 50%;
  height: 100%;
}

.highScore {
  text-align: center;
  width: 60%;
  margin: 2%;
  background-color: whitesmoke;
  border: 1rem solid blue;
}

.highScore h2 {
  color: red;
  font-size: 2.5rem;
  margin: 3%;
}

.username, .score {
  width: 50%;
}

.leaderBoard {
  display: flex;
}

.leaderBoard h3 {
  font-size: 2rem;
  color: orangered;
  text-align: left;
  margin: 3%;
}

footer {
  background-color: greenyellow;
  text-align: center;
}

